 <robot>
  <link name="table1">
    <inertial>
      <mass value="10.0"/>
      <inertia ixx="0.001" ixy="0.00" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>

    <visual>
      <geometry>
        <box size="1.385 0.855 0.1"/>
      </geometry>
      <material name="Orange"/>
      <origin rpy="0 0 0" xyz="0 0 -0.05"/>
    </visual>

    <visual>
      <geometry>
        <box size="1.285 0.755 0.78"/>
      </geometry>
      <material name="Grey"/>
      <origin rpy="0 0 0" xyz="0 0 -0.49"/>
    </visual>

    <collision>
      <geometry>
        <box size="1.385 0.855 0.88"/>
      </geometry>
      <material name="Red"/>
      <origin rpy="0 0 0" xyz="0 0 -0.44"/>
    </collision>
  </link>

  <joint name="table1_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.4 0.0 0.0"/> -0.02 in z
    <parent link="base_link"/>
    <child link="table1"/>
  </joint>

  <link name="table1_mount"/>

  <joint name="table1_mount_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-0.4625 0 0"/>
    <parent link="table1"/>
    <child link="table1_mount"/>
  </joint>
 </robot>